body
  margin: 0
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #ffffff
  font-size: 15px
  font-weight: 400

h1
  font-size: 38px